service vendor.bluetooth.essential /vendor/bin/hw/android.hardware.bluetooth-service.essential
    interface aidl android.hardware.bluetooth.IBluetoothHci/default
    class hal
    capabilities BLOCK_SUSPEND NET_ADMIN SYS_NICE
    user bluetooth
    group bluetooth
    task_profiles HighPerformance
